*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}

main{
    width: 85%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

h1{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: .9em;
}

.section_1{
    width: 100%;
}

article{
    background-color: rgb(140, 135, 135);
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1rem;
    min-height: 150px;
}

h2{
    text-align: center;
    margin-left: auto;
    padding-top: .1em;
    padding-bottom: .1em;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 140px;
}



article p{
    width: 95%;
    margin: 0 auto .5rem auto;
    font-size: .8rem;
    line-height: 1.52em;
    font-weight: 700;
    
}


#article_1 h2{
    background-color: rgb(215, 123, 123);
}

#article_2 h2{
    background-color: rgb(214, 27, 27);
    color: white
}

#article_3 h2{
    background-color: rgb(197, 197, 58);
}




@media (min-width: 768px) and (max-width: 991px) {
    main{
        width: 95%;
    }

    .section_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }  

    #article_1{
        margin-right: .5rem;
    }
    #article_2{
        margin-left: .5rem;
    }
}




@media ( min-width: 992px) {
    main{
        width: 95%;
    }
    .section_1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    } 
    .section_2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 66%;
    } 
    #article_1{
        width: 48.5%;
    }   
    #article_2{
        width: 48.5%;
    }   

    #article_3{
        width: 32%;
    }   

    h1{
        margin-bottom: 3.5rem;
        margin-top: 3em;
    }
}

/*
desktop version( min-width: 992px) and (max-width: ?????)
tablet version( min-width: 768px) and (max-width: 991px)
mobile version( min-width: ?????px) and (max-width: 767px)
*/

